.header  {
  font-family: monospace;
  background: papayawhip;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid red; for visual aid*/
  gap: 14px;
  padding: 0;
}

.left-links {
  margin-left:-170px;
}

.right-links {
  margin-right: -170px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}